
/* nav */
nav {
	background-color: #ccc;
}
nav > a {
	display: inline-block;
	padding:10px 20px;
	background-color:#000;
	color:white;
	text-decoration:none;
}
nav > a:hover {
	color:#fff;
	background-color:orange;
	text-decoration:none;
}

